<div class="container-btn">
    <div class="center">
        <button class="btn-glow-modal" id="printBtn" name="printBtn">PRINT</button>
    </div>
</div>


<div id="printArea" class="container-btn">
    <img style="position:absolute;top:0.36in;left:0.85in;width:7.76in;height:0.01in"
        src="/images/report-images/vi_1.png" />
    <img style="position:absolute;top:2.22in;left:0.86in;width:7.75in;height:0.02in"
        src="/images/report-images/vi_2.png" />
    <img style="position:absolute;top:2.42in;left:0.86in;width:7.75in;height:0.02in"
        src="/images/report-images/vi_3.png" />
    <img style="position:absolute;top:3.19in;left:0.86in;width:3.87in;height:0.02in"
        src="/images/report-images/vi_4.png" />
    <img style="position:absolute;top:3.38in;left:0.86in;width:3.87in;height:0.02in"
        src="/images/report-images/vi_5.png" />
    <img style="position:absolute;top:3.77in;left:4.74in;width:3.87in;height:0.02in"
        src="/images/report-images/vi_6.png" />
    <img style="position:absolute;top:3.96in;left:4.74in;width:3.87in;height:0.02in"
        src="/images/report-images/vi_7.png" />
    <img style="position:absolute;top:4.15in;left:4.74in;width:3.87in;height:0.02in"
        src="/images/report-images/vi_8.png" />
    <img style="position:absolute;top:4.54in;left:0.86in;width:7.75in;height:0.02in"
        src="/images/report-images/vi_9.png" />
    <img style="position:absolute;top:4.73in;left:0.86in;width:2.91in;height:0.02in"
        src="/images/report-images/vi_10.png" />
    <img style="position:absolute;top:4.92in;left:0.86in;width:2.90in;height:0.02in"
        src="/images/report-images/vi_11.png" />
    <img style="position:absolute;top:5.12in;left:0.86in;width:2.90in;height:0.02in"
        src="/images/report-images/vi_12.png" />
    <img style="position:absolute;top:5.12in;left:5.70in;width:2.90in;height:0.01in"
        src="/images/report-images/vi_13.png" />
    <img style="position:absolute;top:5.31in;left:0.86in;width:2.91in;height:0.02in"
        src="/images/report-images/vi_14.png" />
    <img style="position:absolute;top:5.51in;left:0.85in;width:7.76in;height:0.01in"
        src="/images/report-images/vi_15.png" />
    <img style="position:absolute;top:0.36in;left:0.85in;width:0.01in;height:5.16in"
        src="/images/report-images/vi_16.png" />
    <img style="position:absolute;top:4.75in;left:1.82in;width:0.02in;height:0.56in"
        src="/images/report-images/vi_17.png" />
    <img style="position:absolute;top:4.73in;left:3.75in;width:0.02in;height:0.59in"
        src="/images/report-images/vi_18.png" />
    <img style="position:absolute;top:2.24in;left:4.72in;width:0.02in;height:2.30in"
        src="/images/report-images/vi_19.png" />
    <img style="position:absolute;top:3.98in;left:5.69in;width:0.02in;height:0.56in"
        src="/images/report-images/vi_20.png" />
    <img style="position:absolute;top:3.98in;left:6.66in;width:0.02in;height:0.56in"
        src="/images/report-images/vi_21.png" />
    <img style="position:absolute;top:3.98in;left:7.63in;width:0.02in;height:0.56in"
        src="/images/report-images/vi_22.png" />
    <img style="position:absolute;top:0.36in;left:8.60in;width:0.01in;height:5.16in"
        src="/images/report-images/vi_23.png" />
    <div style="position:absolute;top:0.39in;left:0.87in;width:0.92in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Tahoma;color:#808080">ORIGINAL
            COPY</span><span
            style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Tahoma;color:#808080">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:0.77in;left:2.07in;width:5.38in;line-height:0.27in;"><span
            style="font-style:normal;font-weight:bold;font-size:14pt;font-family:Times New Roman;color:#000000"><%=provider %></span><span
            style="font-style:normal;font-weight:bold;font-size:14pt;font-family:Times New Roman;color:#000000">
        </span><br />
        <DIV style="position:relative; left:1.85in;"><span
                style="font-style:normal;font-weight:bold;font-size:13pt;font-family:Arial;color:#000000">SERVICE
                ORDER</span><span
                style="font-style:normal;font-weight:bold;font-size:13pt;font-family:Arial;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:1.31in;left:0.87in;width:3.58in;line-height:0.19in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">FIELD
            TEAM
            CLIENT
            :<%=company %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /></SPAN><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">COMPANY
            OR
            STORE
            NAME: <%=storename %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">CONTACT
            PERSON
            :<%=storeperson %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /></SPAN><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">ADDRESS:<%= storeaddress %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:1.31in;left:7.04in;width:1.36in;line-height:0.17in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">TICKET
            # : <%=ticket %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /></SPAN>
        <DIV style="position:relative; left:0.18in;"><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">DATE
                :
                <%=date %>
            </span><span
                style="font-style:normal;font-weight:normal;font-size:8pt;font-family:Comic Sans MS;color:#000000"></span><br /></SPAN>
        </DIV>
    </div>
    <div style="position:absolute;top:1.69in;left:5.89in;width:1.50in;line-height:0.18in;">
        <DIV style="position:relative; left:0.11in;"><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">POSITION
                :
                <%=position %></span><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
            </span><br />
        </DIV><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">CONTACT
            # :
            <%=storecontact %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.26in;left:0.87in;width:3.88in;line-height:0.16in;">
        <DIV style="position:relative; left:1.27in;"><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">REPORTED
                CONCERN</span><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">
            </span><br />
        </DIV><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000"><%=reportedconsern %></span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN>
    </div>
    <div style="position:absolute;top:2.26in;left:6.35in;width:0.67in;line-height:0.16in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">FINDINGS</span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.23in;left:2.33in;width:0.96in;line-height:0.16in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">SERVICE
            DONE</span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.81in;left:5.68in;width:2.01in;line-height:0.16in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">EQUIPMENTS/PARTS
            REPLACED</span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Tahoma;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.99in;left:4.98in;width:0.52in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">ATF
            NO.</span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.00in;left:5.75in;width:0.90in;line-height:0.13in;"><span
            style="font-style:normal;font-weight:bold;font-size:6pt;font-family:Comic Sans MS;color:#000000">EQUIPMENT/PART</span><span
            style="font-style:normal;font-weight:bold;font-size:6pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.99in;left:6.82in;width:0.27in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">OLD</span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.99in;left:7.08in;width:0.45in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">SERIAL</span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:3.99in;left:7.77in;width:0.76in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">NEW
            SERIAL</span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:4.28in;left:4.79in;width:3.80in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000"><%=atf %>
        </span></SPAN><br /></div>
    <div style="position:absolute;top:4.28in;left:4.79in;width:3.80in;line-height:0.15in;">
        <DIV style="position:relative; left:0.97in;"><span
                style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000"><%=equipment %>
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:4.28in;left:4.79in;width:3.80in;line-height:0.15in;">
        <DIV style="position:relative; left:1.94in;"><span
                style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000"><%=oldserial %>
            </span></SPAN></DIV><br />
    </div>
    <div style="position:absolute;top:4.28in;left:4.79in;width:3.80in;line-height:0.15in;">
        <DIV style="position:relative; left:2.91in;"><span
                style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000"><%=newserial %></span><span
                style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:4.94in;left:5.72in;width:2.91in;line-height:0.20in;"><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Arial;color:#000000"></span><span
            style="font-style:normal;font-weight:normal;font-size:10pt;font-family:Arial;color:#000000"></span><br /></SPAN>
    </div>
    <div style="position:absolute;top:4.78in;left:1.23in;width:0.61in;line-height:0.18in;">
        <DIV style="position:relative; left:0.13in;"><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">TIME
                IN</span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
            </span><br /></DIV><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">TIME
            OUT</span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /></SPAN>
        <DIV style="position:relative; left:0.30in;"><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">SE/S</span><span
                style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
            </span><br /></SPAN></DIV>
    </div>
    <div style="position:absolute;top:4.75in;left:2.60in;width:0.44in;line-height:0.18in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Comic Sans MS;color:#000000"><%=timein %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Comic Sans MS;color:#000000">
        </span><br /><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Comic Sans MS;color:#000000"><%=timeout %></span><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.13in;left:2.23in;width:1.18in;line-height:0.17in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Comic Sans MS;color:#000000"><%=personel %>
        </span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Comic Sans MS;color:#000000">
        </span><br /></SPAN></div>
    <div style="position:absolute;top:5.17in;left:6.72in;width:0.90in;line-height:0.17in;"><span
            style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">STORE
            STAMP</span><span style="font-style:normal;font-weight:bold;font-size:8pt;font-family:Arial;color:#000000">
        </span><br /></SPAN></div>

    <div style="position:absolute;top:2.51in;left:4.75in;width:3.88in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000"><%=findings %></span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
        </span>
    </div>
    <div style="position:absolute;top:3.45in;left:0.87in;width:3.88in;line-height:0.15in;"><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000"><%=servicedone %></span><span
            style="font-style:normal;font-weight:bold;font-size:7pt;font-family:Comic Sans MS;color:#000000">
        </span>
    </div>
    <img style="position:absolute;top:0.56in;left:7.58in;width:1.15in;height:0.73in"
        src="/images/report-images/ri_1.png" />
    <div style="position:absolute;top:0.00in;left:0.00in;"><a name="Sheet1"><span
                style="font-style:normal;font-weight:normal;font-size:5pt;font-family:Times New Roman;color:#000000">&nbsp</span></a>
    </div>
</div>