<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <%- include('header.ejs') %>
    <%- include('style.ejs') %>
</head>

<body class="bg-gradient-primary">

    <div class="container">
        <%- include('./login/login.ejs') %>
    </div>

    <!-- Bootstrap core JavaScript-->
    <%- include('scripts.ejs') %>
    <%- include('./login/loginScript.ejs') %>

</body>

</html>